# Node.js
node_modules/
npm-debug.log*
dist/
build/
.turbo/

# Tailwind CSS / Front-end build
app/static/css/output.css

# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Flask
instance/
.webassets-cache
app.db

# Logs
*.log

# OS
.DS_Store
Thumbs.db
